body {
  margin: 0;
  padding: 0;
  background: url("../img/bgc.png");
  overflow-x: hidden;
}

@mixin text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.4;
}

.layout {
  margin: 200px auto 0;
  max-width: 700px;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  color: #FFFFFF;
}

.block-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    &--load {
      display: none;
    }

    &--result {
      display: none;
    }
  }

  &__text {
    @include text;
    margin-top: 20px;

    &--result {
      display: none;
    }
  }

  &__btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 0;
    width: fit-content;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    padding: 10px 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;

    &:hover {
      background: linear-gradient(94.26deg, #7C6AFA 9.51%, #C89AFC 90.23%);
    }

    &--reset {
      display: none;
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

      &:hover {
        background: linear-gradient(94.78deg, #451046 11.19%, #DF5950 93.72%);
      }
    }
  }

  &__quotation {
    display: none;
    @include text;
    opacity: 1;
    width: fit-content;
    padding: 10px;
    margin: 20px auto 0;
    border: 15px solid;
    border-image: linear-gradient(to right top, #C89AFC, #7C6AFA);
    border-image-slice: 1;
  }

  &__spiner {
    display: none;
    margin: 40px auto 0;
    width: 90px;
    height: 90px;
    animation: animateCircle 3s infinite linear;
  }

  &--load {
    .block-main {
      &__title--main {
        display: none;
      }

      &__title--load {
        display: block;
      }

      &__text--main {
        display: none;
      }

      &__btn {
        order: 1;
      }

      &__spiner {
        display: block;
      }
    }
  }

  &--result {
    .block-main {
      &__title--main {
        display: none;
      }

      &__title--load {
        display: none;
      }

      &__title--result {
        display: block;
      }

      &__text--main {
        display: none;
      }

      &__text--result {
        display: block;
      }

      &__btn {
        order: 1;
      }

      &__quotation {
        display: block;
      }
    }
  }
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
